{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>Вход</h1>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form method="POST" action="/login">
                    <div class="form-group">
                        <label for="tab_number">Табельный номер:</label>
                        <input type="text" class="form-control" id="tab_number" name="tab_number" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" name="password" id="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Войти</button>
                </form>
                <p>Еще нет аккаунта? <a href="/register">Зарегистрируйтесь</a></p>
            </div>
        </div>
    </div>
{% endblock %}